header {
    background-color: #fd6a64;
    background-image: url('/bg-pattern-intro-desktop.svg'), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: 15% 52%;
    background-repeat: no-repeat;
    background-size: action;
    color: white;
    height: 60vh;
    border-bottom-left-radius: 80px 80px;
}

.navbar {
    align-items: center;
    display: flex;
    padding: 4% 10%;
}

.navbar-actions {
    margin-left: auto;
}

.navbar img {
    margin-right: 20px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    list-style: none;
    font-family: Overpass;
}

.dropbtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font-family: Overpass;
    font-weight: 500;
    padding: 10px 0;
    text-align: left;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropbtn:hover {
    text-decoration: underline;
}

.dropbtn .fa-caret-down {
    color: white;
    text-decoration: none; 
    transition: transform 0.3s; 
}

.fa-caret-down {
    text-decoration: none;
}

.dropbtn.active .fa-caret-down {
    transform: rotate(180deg);
}

.dropdown-content a {
    display: block;
    border: none;
    color: hsl(240, 10%, 26%);
    font-family: Overpass;
    padding: 10px 16px;
    text-decoration: none;
    margin: 5px 0;
}

.dropdown-content a:hover {
    font-weight: 900;
    color: rgb(19, 18, 18);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
    padding: 10px;
}

.dropdown-content.show {
    display: block;
}

.navbar-actions button {
    margin: 0 5px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color:#fd6a64;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}

#login-button {
    background-color:#fd6a64;
    color: white;
}

#login-button:hover {
    background-color: white;
    color:#fd6a64 ;
}

#signup-button:hover {
    background-color: hsl(355, 100%, 74%);
    color:aliceblue;
}

.title h1 {
    font-family: Overpass;
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}

.title p {
    font-family: Overpass;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8%;
}

.title {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title .buttons {
    display: flex;
    font-family: Ubuntu;
    gap: 15px;
    justify-content: center;
    margin: auto;
}

.title .buttons button {
    border-color: white;
    border-style: solid;
    border-width: 1.2px;
    background-color: white;
    border-radius: 20px;
    color:#fd6a64;
    cursor: pointer;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
}

#learn-button {
    background-color:#fd6a64;
    color: white;
}

#learn-button:hover {
    background-color: white;
    color: #fd6a64;
}

#start-button:hover {
    background-color: #f0afad;;
    color: white;
    border: none;
}

footer {
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 85px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4% 10%;
}

footer h1 {
    color: white;
    font-family: Overpass;
    font-size: 3rem;
    margin-bottom: 20px; 
    flex: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 3;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h4 {
    color: white;
    font-family: Overpass;
    margin-bottom: 2rem;
}

footer li {
    color: hsl(240, 2%, 79%);
    font-family: Overpass;
    margin: 1rem 0; 
}

footer li a {
    color: hsl(240, 2%, 79%);
    text-decoration: none; 
    font-family: Overpass;
}

footer li a:hover {
    text-decoration: underline;
    color: hsl(240, 2%, 79%);
}