<header >

  <nav class="navbar">
    <img src="logo.svg" alt="logo-title">
    <ul class="navbar-links">
      <li><a routerLink="/"></a>Products</li>
      <li><a routerLink="/"></a>Company</li>
      <li><a routerLink="/"></a>Connect</li>
    </ul>
    <div class="navbar-actions">
      <button id ="login-button">Login</button>
      <button>Sign Up</button>
    </div>
  </nav>

  <div class="title">
    <h1>A modern publishing platform</h1>
    <p>Grow your audience and build your brand</p>
    <div class="buttons">
      <button >Start for Free</button>
      <button id="learn-button">Learn More</button>
    </div>
  </div>

</header>

  <app-main></app-main>

<footer>
  <h1>Blogr</h1>
    <div class="footer-content">
      <nav class="footer-navigation">

        <ul class="product">
          <h4>Product</h4>
          <li>Overview</li>
          <li>Pricing</li>
          <li>Marketplace</li>
          <li>Features</li>
          <li>Integrations</li>
        </ul>
        
        <ul class="company">
          <h4>Company</h4>
          <li>Aboout</li>
          <li>Team</li>
          <li>Blog</li>
          <li>Careers</li>
        </ul>

        <ul class="connect">
          <h4>Connect</h4>
          <li>Contact</li>
          <li>Newsletter</li>
          <li>LinkedIn</li>
        </ul>

      </nav>
    </div>
</footer>
