<header >

  <nav class="navbar">
    <img src="logo.svg" alt="logo-title">
    <ul class="navbar-links">
      <li><a routerLink="/"></a>Products</li>
      <li><a routerLink="/"></a>Company</li>
      <li><a routerLink="/"></a>Connect</li>
    </ul>
    <div class="navbar-actions">
      <button id ="login-button">Login</button>
      <button id="signup-button">Sign Up</button>
    </div>
  </nav>

  <div class="title">
    <h1>A modern publishing platform</h1>
    <p>Grow your audience and build your brand</p>
    <div class="buttons">
      <button id="start-button">Start for Free</button>
      <button id="learn-button">Learn More</button>
    </div>
  </div>

</header>

  <app-main></app-main>

<footer>
  <h1>Blogr</h1>
    <div class="footer-content">

        <ul class="product">
          <h4>Product</h4>
          <li><a href="">Overview</a></li>
          <li><a href="">Pricing</a></li>
            <li><a href="">Marketplace</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Integrations</a></li>
          </ul>
          
          <ul class="company">
            <h4>Company</h4>
            <li><a href="">About</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Careers</a></li>
          </ul>

          <ul class="connect">
            <h4>Connect</h4>
            <li><a href="">Contact</a></li>
            <li><a href="">Newsletter</a></li>
            <li><a href="">LinkedIn</a></li>
        </ul>
    </div>
</footer>
